:root {
    --main-dark: #4A4947;
    --secondary-dark: #B17457;
    --main-light: #FAF7F0;
    --secondary-light: #D8D2C2;

    --danger: #f30;
    --info: #4379F2;
    --success: #798645;
    --warning: #DD761C;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--main-light);

}

form {
    padding: 1.5rem 3rem;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1.5rem 3rem;
}

.list > * {
    padding: 4px 8px;
    border: 1px solid var(--main-dark);
    border-radius: 5px;
    box-shadow: .2px .5px 10px .1px var(--secondary-light);
}

.list h3 {
    color:var(--main-dark);
}

.list p {
    color: var(--secondary-dark);
}

.form-group {
    display: grid;
    gap: 5px;
}

.validation-message {
    margin-block-start: 0;
    color: var(--danger);
}

button {
    background-color: var(--secondary-dark);
    color: var(--main-light);
    font-weight: 400;
    letter-spacing: 2px;
    padding: 5px;
    text-transform: uppercase;
}