:root {
    --main-dark: #4A4947;
    --secondary-dark: #B17457;
    --main-light: #FAF7F0;
    --secondary-light: #D8D2C2;
}

body {
    background-color: #FAF7F0;

}

form {
    padding: 1.5rem 3rem;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1.5rem 3rem;
}

.list > * {
    padding: 4px 8px;
    border: 1px solid var(--main-dark);
    border-radius: 5px;
    box-shadow: .2px .5px 10px .1px var(--secondary-light);
}

.list h3 {
    color:var(--main-dark);
}

.list p {
    color: var(--secondary-dark);
}